@model DataTable.Models.SearchTextViewModel
@{
    ViewBag.Title = "Tables";
}

@Styles.Render("~/Scripts/Home/datatables/css")

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Data Table sample (try 'Gecko' search)</h3>
            </div>
            <div class="box-body" id="search-form-id">
                @using (Ajax.BeginForm("Search", new AjaxOptions
                {
                    UpdateTargetId = "search-form-id",
                    HttpMethod = "POST",
                    OnComplete = "$('#example').DataTable({ 'language': { 'search': 'Filter:'}})"
                }))
                {
                    <div class="input-group margin">
                        @Html.TextBoxFor(model => model.SearchText, new { @class = "form-control", style = "max-width: none;" })
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-info btn-flat">Search</button>
                        </span>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/Home/jquery-ajax-unobtrusive/js")
    @Scripts.Render("~/Scripts/Home/datatables/js")
}
